/* Link styling */
  a {
    display: block;
    margin-bottom: 10px;
    text-align: center;
  }
  
  /* Blog post styling */
  #postList {
    margin-bottom: 20px;
  }
  
  .post-with-border {
    border-bottom: 1px solid #ccc;
  }
